
<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <title>{% block title %}Summary{% endblock %}</title>
</head>
<style>
body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
} 

.chart-profile{
    /* background-color:rgb(205, 214, 243); */
    background-color:rgb(227, 231, 245);
    margin-top:90px; 
    padding: 1.5%;
    margin-left: 5%;
    margin-left: 5%;
    margin-bottom: 5%; 
    border-radius: 5px;
}
</style>
<body>
  {% include "navbar profile admin.html" %}
<div class="container chart-profile">
<center> 
  <nav>
    <a href="{% url 'home1' %}"  style="font-size: 20px">CGPA wise Bar Chart</a> and
    <a href="{% url 'pie-chart' %}" style="font-size: 20px">Thesis/Project Pie chart</a>
  </nav>

  {% block content %}{% endblock %}
</center>
</div>
<br><br><br><br>
{% include "footer.html" %}
</body>
</html>
