
<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <title>{% block title %}Summary{% endblock %}</title>
</head>

<body>
  {% include "navbar profile admin.html" %}
  <br><br><br><br><br><br><br>
<center> 
  <nav>
    <a href="{% url 'home1' %}"  style="font-size: 20px">CGPA wise Bar Chart</a> and
    <a href="{% url 'pie-chart' %}" style="font-size: 20px">Thesis/Project Pie chart</a>
  </nav>

  {% block content %}{% endblock %}
</center>
</body>
</html>
